<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <services>
      <register serviceType="Sitecore.Marketing.Taxonomy.Mapping.ITaxonomyTypeMapper, Sitecore.Marketing.Taxonomy">
        <patch:attribute name="implementationType" value="Sitecore.Support.Marketing.Taxonomy.Mapping.TaxonomyTypeMapper, Sitecore.Support.207975"/>
      </register>
    </services>
  </sitecore>
</configuration>