<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" >
  <sitecore>
    <taxonomy>
      <mappers>
        <taxonomyTypeMapper type="Sitecore.Marketing.Taxonomy.Mapping.TaxonomyTypeMapper, Sitecore.Marketing.Taxonomy" >
          <patch:attribute name="type" value="Sitecore.Support.Marketing.Taxonomy.Mapping.TaxonomyTypeMapper, Sitecore.Support.207975"/>
        </taxonomyTypeMapper>
      </mappers>
    </taxonomy>
  </sitecore>
</configuration>